:root 
{
    --cmp-f-1: "Josefin Sans", sans-serif;

    --cmp-c-DesaturatedRed: hsl(0, 36%, 70%);
    --cmp-c-SoftRed: hsl(0, 93%, 68%);

    --cmp-c-DarkGrayishRed: hsl(0, 6%, 24%);

    --cmp-g-1: linear-gradient(135deg, hsl(0,0%,100%), hsl(0,100%,98%));
    --cmp-g-2: linear-gradient(135deg, hsl(0,80%,86%), hsl(0,74%,74%));

}

body {
    margin:0;
}

* {
    box-sizing: border-box;
}

*:first-child 
{
    margin-top: 0;
}

*:last-child {
    margin-bottom: 0;
}


/* Typography */

html {
    font-size: 14px;
}

.cmp 
{
    font-family: var(--cmp-f-1);
    color: var(--cmp-c-DesaturatedRed);
}

.cmp__title {
    letter-spacing: .27em;
    font-weight: 300;
    text-transform: uppercase;
    font-size: 2.85rem;
}

.cmp__title span {
    color: var(--cmp-c-DarkGrayishRed);
    font-weight: 600;
}

.cmp__body 
{
    line-height: 1.6;
}


.cmp__input {
    font-family: inherit;
    color:var(--cmp-c-DarkGrayishRed);
}

.cmp__input::placeholder
 {
    color: var(--cmp-c-DesaturatedRed);
 }

 .cmp__input-error 
 {
    font-size: .92rem;
    color: var(--cmp-c-SoftRed);
 }


 @media (min-width:1000px)
 {
    html {
        font-size: 16px;
    }

    .cmp__title 
    {
        font-size: 4rem;
    }

    .cmp__input-error 
    {
        font-size: 0.81rem;
    }
 }



 /* Layout */
 
 .cmp 
 {
    background: var(--cmp-g-1);
 }

 .cmp__header {
    padding: 2.21em 3.2%;
 }

 .cmp__img {
    display: block;
    width: 100%;
    object-fit: cover;
 }
 .cmp__img--desktop{
    display: none;
 }

 .cmp__img--mobile {
    max-width: 375px;
    margin-left: auto;
    margin-right: auto;
 }

 .cmp__main {
    text-align: center;
    padding: 4.57em 6.4%;
 }
 .cmp__main > * {
    max-width: 311px;
    margin-left: auto;
    margin-right: auto;
 }


 .cmp__form 
 {
    position: relative;
 }


 .cmp__input-container {
    position: relative;
 }

 .cmp__input 
 {
    width: 100%;
    padding: .71em 1.6em;
    border-radius: 28px;
    border: solid 1px var(--cmp-c-DesaturatedRed);
 }
 
 .cmp__input-error, .cmp__input-error-icon {
    position: absolute;
 }

 .cmp__input-error {
    padding-left: 1.6em;
    opacity: 0%;
    pointer-events: none;
 }

 .cmp__input-error-icon {
    right: 4em;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0%;
    pointer-events: none;
 }

 .cmp__input-container.invalid .cmp__input-error,  .cmp__input-container.invalid .cmp__input-error-icon
 {
    opacity: 100%;
 }

 .cmp__form-btn 
 {
    position: absolute;
    background: var(--cmp-g-2);
    border:none;
    border-radius: 28px;
    right: 0px;
    top:0px;
    height: 100%;
    width: 20%;
    box-shadow: 0px 4px 4px hsla(0, 0%, 0%, 25%);
    cursor: pointer;
    transition: filter 300ms;
 }

 .cmp__form-btn:hover 
 {
    filter: brightness(120%);
 }


 @media (min-width: 1000px)
 {
   
    .cmp 
    {
        display: grid;
        grid-template-columns: 57% 43%;
        grid-template-rows: auto auto;
        height: 100vh;
        background-image: url(../images/bg-pattern-desktop.svg);
        background-size: 57% 100%;
    }


    .cmp__header {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }


    .cmp__main {
        grid-column: 1 / 2;
        grid-row: 2 / -1;
        text-align: left;
    }

    .cmp__img--mobile {
        display: none;
    }

    .cmp__img--desktop {
        display: block;
        grid-column: 2 / -1;
        grid-row: 1 / -1;
        height: 100%;
        width: 100%;
        max-width: 610px;
    }
 }


